<!DOCTYPE html>
<html lang="en">
{% include 'orders/header.html' %}
<body>

<!--navigation bar begins-->
{% include 'orders/navbar.html' %}

{% block home_title %}
<!--title for Home Page begins-->
<div class="jumbotron text-center">
  <h1>The Popstop</h1>
  <h2>Serving Champaign-Urbana Since 2013</h2>
  <p> Our artisan Pops are hand-made with fresh fruit, dairy and spices every day.<br>
  <a href="https://twitter.com/ThePopStopInc">Follow us on Twitter</a> to find our 
  bicycle carts around town, or <a href="https://squareup.com/store/the-pop-stop-inc">visit 
  our Online Store</a> to place a pickup order for a box of Pops made fresh on demand!</p>
</div>
{% endblock %}

<!--Dynamic content goes here-->
{% block content %}
{% endblock %}

<br>
<br>

</body>
<footer>
	<style>
		footer{background-color: #3622FF;}
	</style>
	<br>
	<div id="social">
	<a href="https://www.facebook.com/ThePopStopInc" target="blank"> <img class="social" alt="picture" src="/static/orders/facebookIcon.png" </a>
	<a href="https://twitter.com/ThePopStopInc" target="blank"> <img class="social" alt="picture" src="/static/orders/Twitter-icon1.png"/> </a>
	<a href="http://instagram.com/ThePopStopInc" target="blank"> <img class="social" alt="picture" src="/static/orders/instagramIcon.png"/> </a>
	</div>
	<br>

</footer>
</html>
