<footer>
	<div class="container">
    <div id="social">
      <a href="https://www.facebook.com/ThePopStopInc" target="blank"> <img class="social" alt="Facebook" src="/static/orders/facebookIcon.png" </a>
      <a href="https://twitter.com/ThePopStopInc" target="blank"> <img class="social" alt="Twitter" src="/static/orders/Twitter-icon1.png"/> </a>
      <a href="http://instagram.com/ThePopStopInc" target="blank"> <img class="social" alt="Instagram" src="/static/orders/instagramIcon.png"/> </a>
    </div>
    <div id="copyright">
      <p>&copy; 2017 The Popstop, Inc.
    </div>
	</div>

</footer>
