{% load static %}
<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">  <img style="max-width:100px; margin-top: -7px;" src="{% static 'orders/PopstopLogo.png' %}" width="100" height="35"> </a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Calendar</a></li>
        <li><a href="/flavors">Flavors</a></li>
        <li><a href="/catering">Catering Menu</a></li>
        <li><a onclick="emailPopup()">Order</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Rayna's code-->
<script>
function emailPopup() {
    var email = prompt("Please enter your First Name::", "") + prompt("Last Name: ", "") + prompt("Email: ", "");
    window.location.href= 'https://squareup.com/store/the-pop-stop-inc';
}
</script>
<!--End of Rayna's code-->
