{% extends 'orders/base.html' %}

{% block content %}
<!--Calendar tab-->

<div id="calendar" class="container-fluid">
    <h1>Calendar</h1>
    <table class="table table-bordered">
    <thead>
      <tr>
		<th> </th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
		<td> Location </td> 
        <td><a href='https://www.google.com/maps/place/{{ Monday.address }}' target='_blank'>{{ Monday.locationName }}</a></td>
        <td><a href='https://www.google.com/maps/place/{{ Tuesday.address }}' target='_blank'>{{ Tuesday.locationName }}</a></td>
        <td><a href='https://www.google.com/maps/place/{{ Wednesday.address }}' target='_blank'>{{ Wednesday.locationName }}</a></td>
        <td><a href='https://www.google.com/maps/place/{{ Thursday.address }}' target='_blank'>{{ Thursday.locationName }}</a></td>
        <td><a href='https://www.google.com/maps/place/{{ Friday.address }}' target='_blank'>{{ Friday.locationName }}</a></td>
        <td><a href='https://www.google.com/maps/place/{{ Saturday.address }}' target='_blank'>{{ Saturday.locationName }}</a></td>
        <td><a href='https://www.google.com/maps/place/{{ Sunday.address }}' target='_blank'>{{ Sunday.locationName }}</a></td>
      </tr>
        <tr>
			  <td> Start Time </td>
			  <td> {{ Monday.startTime }} </td>
			  <td> {{ Tuesday.startTime }} </td>
			  <td> {{ Wednesday.startTime }} </td>
			  <td> {{ Thursday.startTime }} </td>
			  <td> {{ Friday.startTime }} </td>
			  <td> {{ Saturday.startTime }} </td>
			  <td> {{ Sunday.startTime }} </td>
		  </tr> 
		  <tr> 
			  <td> End Time</td>
			  <td> {{ Monday.endTime }} </td>
			  <td> {{ Tuesday.endTime }} </td>
			  <td> {{ Wednesday.endTime }} </td>
			  <td> {{ Thursday.endTime }} </td>
			  <td> {{ Friday.endTime }} </td>
			  <td> {{ Saturday.endTime }} </td>
			  <td> {{ Sunday.endTime }} </td>
		  </tr>
    </tbody>
    </table>
</div>
{% endblock %}
